<div>
    <h3>AnotherChildComponent</h3>
    @*<input id="roomName" placeholder="@Placeholder" required ="@Required" maxlength="@MaxLength" class="form-control"/>*@
    <input id="roomName" @attributes="InputAttributes" class="form-control" />

</div>



@code {
    //[Parameter]
    //public string Placeholder { get; set; } = "Enter Hotel Name";
    //[Parameter]
    //public string Required { get; set; } = "required";
    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        {"placeholder", "Initial Text" },
        {"maxLength", 10 }
    };
}
 