<h3>Life Cycle Child</h3>

@foreach (var item in eventType)
{
    @item
    <hr />
}

@code {
    [Parameter]
    public int CountValue { get; set; }
    List<string> eventType = new List<string>();

    protected override void OnInitialized()
    {
        eventType.Add("Child - OnInitialized event is called");
    }
    protected override void OnParametersSet()
    {
        eventType.Add("Child - OnParametersSet event is called");
    }
}
